PuLP==2.8.0
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pydantic==2.7.4
pydantic_core==2.18.4
Pygments==2.18.0
pynvml==11.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
ray==2.30.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
rich==13.7.1
rpds-py==0.18.1
safetensors==0.4.3
scipy==1.13.1
sentencepiece==0.2.0
shellingham==1.5.4
shortuuid==1.0.13
six==1.16.0
sniffio==1.3.1
starlette==0.37.2
sympy==1.12.1
termcolor==2.4.0
tiktoken==0.6.0
tokenizers==0.19.1
tomli==2.0.1
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.4
transformers==4.41.2
triton==2.2.0
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
urllib3==2.2.2
uvicorn==0.30.1
uvloop==0.19.0
vllm @ https://github.com/vllm-project/vllm/releases/download/v0.4.0/vllm-0.4.0+cu118-cp39-cp39-manylinux1_x86_64.whl#sha256=7162a7c40d788a24e3ffb9b3a8ca853fa7ed16c2ae326a195c80169b730a24aa
watchfiles==0.22.0
websockets==12.0
xformers==0.0.23.post1+cu118
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.4
zipp==3.19.2
